/* style.css */

h1,
h2 {
    color: darkgray;
}

div {
    color:lightslategray;
}

body {
    background-color: black;
}

.unorderd_list,
.link_style {
    color: whitesmoke;
}

#flammenkuchen_image {
    height: auto;
    width: 250px;
}
